.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-area {
    width: 100%;
    margin: 3em 0;
    padding: 1.5em 0;
    border-top: 1px solid hsl(0, 0%, 80%);
}

.comments-title {
    margin-bottom: 2em;
    font-size: 2.5em;
    font-weight: 900;
}

.comment-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}